# DFT generated outputs
synth/
cut/
scan/
JTAG/
logs/
report/
atpg/
schematic/
simulation/

# Simulation outputs
*.vcd
*.fst
*.vvp
*.out
a.out

# Reports and logs
*.log
*.jou
*.rpt

# Local tool/build folders
Fault/
fault_env/
.cargo/
.local/
.swiftly/
oss-cad-suite/

# OS/editor files
.DS_Store
.vscode/
*.swp
*.swo
